* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93,75%;
    height: 100%;
}

body {
    background: rgb(219, 219, 219);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* header */

header {
    background: rgb(31, 117, 38);
    padding-bottom: 2.5rem;
}

header h1 {
    padding: 2rem 0 2rem;
    text-align: left;
    color: white;
    margin-left: 3%;
}

header .cep {
    text-align: center;
    margin-top: -4.5rem;
    border-radius: 5px;
    outline: none;

    font-size: 1.1rem;
    padding: 0 10px;
}

header label{
    color: white;
}

header button{
    height: 40px;
    border-radius: 2px;
    border: none;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    background-color: #bb6262;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

/* table tr td */

.container {
    background: rgb(182, 182, 182);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1rem;
}

table  {
    margin-top: 10rem;
    margin-left: 30%;
    padding: 2rem;
    font-size:xx-large;
    font-style: oblique;
}

table tr td {
    display: block;
}


.errorInput {
    border: 2px solid rgb(207, 53, 53) !important;
  }


@media all and (max-width: 1000px) {
    header h1{ visibility: hidden; }
  }